# Environment markers
# https://stackoverflow.com/questions/29222269
uwsgi; platform_system != "Windows"
pick
django-ninja
django-extensions
django
arrow
PyJWT
django-cors-headers
mysqlclient
# cryptography==37.0.4
cryptography
requests
redis
loguru
# django-crontab
# django-rq
# django-print-sql
# hashids
# multiavatar
# Pillow
# qrcode
# python-magic
