# Environment markers
# https://stackoverflow.com/questions/29222269
uwsgi; platform_system != "Windows"
pick
rich
ipython
django-ninja>=1.0,<2.0.0
django-extensions
django
arrow
PyJWT
django-cors-headers
mysqlclient
cryptography
requests
redis==4.6.0
types-redis~=4.6.0
loguru
django-print-sql
pytest-django
